@import 'tailwindcss';

@theme {
  --font-*: initial;
  --font-sans: var(--font-outfit-sans), system-ui, sans-serif;
  --text-label: var(--text-xs);
  --text-label--line-height: var(--text-xs--line-height);
  --text-label--letter-spacing: var(--tracking-widest);
  --text-label--font-weight: var(--font-weight-semibold);
  --text-caption: var(--text-xs);
  --text-caption--font-weight: var(--font-weight-semibold);
}

@layer utilities {
  .text-label {
    @apply uppercase;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  html,
  body {
    @apply h-full;
  }

  body {
    @apply bg-black text-white;
  }
}
